[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.user
*.userosscache
*.sln.docstates
**/EBWebView/
**/WebView2/
**/WebView2Data/
.vs/
.idea/
.vscode/
*.suo
*.user
*.userprefs
*.workspace
*.TMP
*.tmp
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.ds_store
.DS_Store